
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-color: #fff;
    color: #000;
}

main.container {
    max-width: 600px;
    width: 100%;
}

h2, h3 {
    color: #333;
    text-align: center;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.game-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: transform 0.3s;
    text-align: center;
}

.game-tile img {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
    object-fit: cover;
}

.game-tile:hover {
    transform: scale(1.05);
}

nav ul {
    background-color: #f1f1f1;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0.5rem;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
}

.welcome-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: contain;
    margin: 1rem auto;
}

footer {
    background-color: #f1f1f1;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ccc;
}

footer a {
    text-decoration: none;
    color: #007bff;
    margin: 0 0.5rem;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}




/* modal window */

body.modal-open {
    overflow: hidden;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.modal-content {
    position: relative;
    width: 80%;
    height: 80%;
    background: white;
    border: 2px solid #ccc;
}

.modal-content iframe {
    width: 100%;
    height: 100%;
}

.close-btn {
    position: absolute;
    top: calc(10% - 20px); /* 10% сверху (высота модального окна) минус высота крестика */
    right: calc(10% - 1cm); /* 10% от ширины (от края модального окна) минус 1 см */
    font-size: 30px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-size: contain;
}